@mixin headerNav {
	font-weight: 700;
	font-size: 0.625rem;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--text-grey);
}

@mixin padTopBottom {
	padding-top: calc(var(--gap) * 3);
	padding-bottom: calc(var(--gap) * 3);
}

@mixin btn {
	border: 1px solid var(--button);
	color: var(--button);
	padding: 1.25rem 3.125rem;
	width: 15.9375rem;
	height: 4.375rem;
	line-height: 9.75px;
	font-weight: 400;
	font-size: 1.25rem;
	cursor: pointer;
}
