:root {
	--text-primary: #4c5866;
	--text: #85859b;
	--white: #fff;
	--text-hover: #ffffff;
	--title-color: #666666;
	--text-grey: #5c6a79;
	--line-color: #dddddd;
	--button: #7875fe;
	--hover: #7875fe;
	--focus: #dad9fb;
	--active: #4946b4;
	--section-bg: #d9d9d9;
	--border-color: #c0c0c0;
	--footer-bg: #4c5866;
	--circular-color: #b5b5bd;
	--border: #c4c4c4;
	--gap: 1.875rem;
}
