.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  height: clamp(29.375rem, 20.75rem + 20vw, 38.75rem);
  padding-top: 3.75rem;
  overflow: hidden;
}

.hero__contairer {
  margin: 0 auto;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.hero__title {
  width: 55%;
  margin-bottom: var(--gap);
  font-weight: 400;
  font-size: clamp(2.75rem, 1.83rem + 2.133vw, 3.75rem);
  line-height: 100%;
  color: var(--text-primary);
}

.hero__descr {
  font-weight: 400;
  font-size: clamp(1rem, 0.885rem + 0.267vw, 1.125rem);
  line-height: 150%;
  color: var(--text);
  width: 50%;
}

.hero__btn {
  border: 1px solid var(--button);
  color: var(--button);
  padding: 1.25rem 3.125rem;
  width: 15.9375rem;
  height: 4.375rem;
  line-height: 9.75px;
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
}

.hero__image > img {
  width: clamp(16.875rem, -24.663rem + 64.904vw, 33.75rem);
}

@media screen and (max-width: 1024px) {
  .hero__title {
    width: 80%;
  }
  .hero__descr {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 1.25rem;
  }
  .hero__title {
    width: 100%;
    font-size: clamp(2.25rem, 0.833rem + 4.444vw, 2.75rem);
  }
  .hero__descr {
    width: 100%;
  }
  .hero__image > img {
    width: clamp(12.188rem, -1.094rem + 41.667vw, 16.875rem);
  }
  .hero__btn {
    width: 196px;
    height: 60px;
  }
}
@media (max-width: 510px) {
  .hero {
    height: 19.0625rem;
    padding-top: 3.125rem;
  }
  .hero__info {
    gap: 1.25rem;
  }
  .hero__title {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
  .hero__image > img {
    display: none;
    width: 12.1875rem;
  }
  .hero__descr {
    font-size: 1rem;
  }
  .hero__btn {
    font-size: 1.125rem;
    padding: 10px;
    width: 144px;
    height: 50px;
  }
}
@media (max-width: 320px) {
  .hero {
    padding-top: 3.125rem;
  }
}